* {
  box-sizing: border-box;
  margin: 0;
}
/** HEADER **/
/* END OF HEADER */
/** FOOTER **/
/* END OF FOOTER */
/** BODY **/
#menu div div {
	margin: 10;
	border: 1px solid #1d252c;
	background-color: #3eb172;
	color: white;
	height: 1000px;
}

#menu div div span {
	padding: 10;
}

p {
	padding: 0 25px 0 25px;
}
div.container-fluid.col-xs-12{
	margin: 25px;
	padding: 100px;
}

/* END OF BODY */
@media (max-width: 767px) {
div.container-fluid{
	padding: 50px;
}	
}

#navbar-collapse{
	background-color: #1d252c;
}
#navbar-collapse a{
	color: white;
}

  /* Header */
